
//generales


* {
    margin: 0px;
    padding: 0px;
    font-family: $font;
}

/*body*/
body {
    background-color: $color-principal;
    margin: 0%;
    height: .100%;
    width: 100%;
    position: relative;
    padding-bottom: 3rem;
    min-width: 100vh;
}


/*header*/
header {
    background-color: $color-secundario;
    margin: 0px;
    width: 100%;
    height: 300px;
    padding: 50px;
}


/*título*/
h1 {
    margin: 0px;
    height: 50px;
    font-family: $font;
    text-align: center;
    width: 100%;
    padding: 100px;
    color: white;
    background-color: $color-secundario;
}

/*sub-menu*/
h2 {
    margin: 40px;
    padding: 70px;
    text-align: center;
    color: $color-secundario;
    padding: auto;
    flex-direction: row;
    justify-content: center;
    font-size: 3em;
}


/*lleva-tu-gimnasio-al-limite*/
h3 {
    margin: 30px;
    padding: 60px;
    text-align: center;
    padding: 20px;
    justify-content: center;
    flex-direction: row;
}


/*párrafos*/
p {
    font-family:$font;
    margin: 0.7rem 0.7rem;
    font-size: 3em;
    text-align: justify;
    margin: 50px;
    padding: 30px;
}

/*imágenes*/
img {
    max-width: 100%;
    transition: all 300ms;
    position: relative;
}
