//mercado-foto de guantes - fotos de bolsa - etc.


/*contenido*/
#flex-content {
    padding: 90px;
    display: flex;
    margin: 50px;
    justify-content: space-around;
    grid-template-columns: repeat(5, 1fr);
    #flex-content :hover {
    transform: scale(1.15);
    }
}