//ubicaciones

/*ubicaciones*/
.flex-ubicaciones {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.flex-revendedores {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}